table(cellspacing='0' cellpadding='0' style='width: 100%; border-collapse: collapse;')
  tr
    td(style='text-align: center; padding: 3px;' colspan='4')
      b OUTRAS INFORMAÇÕES
  tr
    td(style='width: 60%; padding: 3px;' colspan='1')
      span Mês de Competência da Nota Fiscal: #{competence}
    td(style='width: 40%; padding: 3px;' colspan='1')
      span Local da Prestação do Serviço: #{serviceLocation}
  tr
    td(style='width: 60%; padding: 3px;')
      span Recolhimento: #{pickup}
    td(style='width: 40%; padding: 3px;')
      span Tributação: TRIBUTÁVEL S.N.
  tr
    td(style='width: 60%; padding: 3px;' colspan='2')
      span Documento emitido por ME ou EPP optante pelo Simples Nacional
  tr
    td(style='width: 60%; padding: 3px;' colspan='2')
      span CNAE: #{cnae}
  tr
    td(style='width: 60%; padding: 3px;' colspan='2')
      span Descrição da Atividade: #{activity}
  tr
    td(style='width: 60%; padding: 3px;' colspan='2')
      span Serviço: #{service}
  if retroactive
    tr
      td(style='width: 60%; padding: 3px;' colspan='2')
        span #{retroactive}
