table(cellspacing='0' cellpadding='0' style='width: 100%; border-collapse: collapse;')
  tr
    td(style='text-align: center; padding: 3px;' colspan='4')
      b TOMADOR DE SERVIÇOS
  tr
    td(style='padding: 3px;' colspan='4')
      label(style='padding-right: 3px;') Nome/Razão Social:
      span
        b #{taker.name}
  tr
    td(style='padding: 3px;' colspan='2')
      label(style='padding-right: 3px;') CPF/CNPJ:
      span
        b #{taker.taxId}
    if taker.registryId
      td(style='padding: 3px;' colspan='2')
        label(style='padding-right: 3px;') Inscrição Municipal:
        span
          b #{taker.registryId}
  tr
    td(style='padding: 3px;' colspan='4')
      label(style='padding-right: 3px;') Endereço:
      span
        b #{taker.address}
  tr
    td(style='width: 25%;padding: 3px;')
      label(style='padding-right: 3px;') Município:
      span
        b #{taker.city}
    td(style='width: 10%;padding: 3px;')
      label(style='padding-right: 3px;') UF:
      span
        b #{taker.state}
    td(style='width: 45%;padding: 3px;')
      label(style='padding-right: 3px;') E-mail:
      span
        b #{taker.email}
    td(style='width: 20%;padding: 3px;')
      label(style='padding-right: 3px;') Telefone:
      span
        b #{taker.phone}
